<a href="/posts">
    <div class="artigos">
        <h2 class="h2arti">Atigos</h2>
        
        <p class="parti">Veja todos os meus artigos <br>
         sobre  tecnologias ou frameorwks
        </p>
    </div>
</a>
