
    <div class="principal">
        <img id="foto" src="https://avatars.githubusercontent.com/u/78286328?s=400&u=4cb154e819405c8a0a9e490bd3a18c4680320301&v=4" alt="imagem" height="185px"
        width="185px" style="border-radius: 600px;">

    <h1>João Victor Dos Santos</h1>
    <p>Sejam bem-vindos ao meu blog.<br>
        Meu nome é João Victor Dos Santos, tenho 14 anos e amo programar!<br>
        Estou sempre tentando adquirir conhecimento e melhorar cada vez mais,
        <br>
        Estou sempre ativo, produzindo código
        <br>
        <br>
        De qualquer forma, realmente espero ser seu <br>
            amigo <br>
                Um grande abraço.  
        </p>
   