<a id="aPost" href="/posts/ejs">
    <div class="posts">
        
            <h1>O que é ejs?</h1>
            <br>
            <p>EJS é uma engine de visualização</p>
            
            <label for="">08/04/2022</label>
        
    </div>
</a>