<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>João Victor</title>
    <link rel="shortcut icon" href="https://w7.pngwing.com/pngs/197/202/png-transparent-brown-j-letter-illustration-j-letter-hand-painted-letters-j-watercolor-painting-png-graphics-writing-system.png" type="image/x-icon">
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        body{
            background-color: rgb(235, 235, 230);
            color: rgb(31, 29, 29);
        }

         .principal{
            position: absolute;
            margin-top: 16px;
            color: #252426;
        }

         .principal p{
             
            text-align: center;
            margin-top: 24px;
            margin-left: 300px;
        }

        .principal h1{
            
            text-align: center;
            font-size: 1.2em;
            margin-top: 17px;
            margin-left: 300px;
        }

         .principal #foto{
            margin-top: 33px;
            margin-left: 446px;
        }

        .links {
            position: absolute;
            margin-top: 330px;
           
            display: inline-block;
            border-radius: 5px;
            margin-left: 1255px;
            
            
        }

        .linkedln {
            margin-left: 12px;
            
            
        }

        .posts{
            position: absolute;
            height: 135px;
            width: 335px;
            border: 1px solid #252426 !important;
            background-color: #252426 !important;
            border-radius: 4px;
            color: rgb(229, 223, 233);
            margin-left: 1150px;
            margin-top: 170px;
        }

        .posts h1{
            
            font-size: 19px;
            margin-left: 18px;
            margin-top: 12px;
        }

        .posts p{
            font-size: 15px;
            margin-left: 14px;
            margin-top: 3px;
        }

        .posts label{
            font-size: 12px;
            margin-left: 14px;
            color: rgb(112, 110, 110);
            margin-top: 1px;
        }

        a{
            text-decoration: none;
        }


        #linkedln {
            margin-left: 18px;
        }

        .posts:hover {
            background-color: #28222c !important;
        cursor: pointer;
        }
    </style>
</head>
<body>
    
    <%- include('partials/posts'); %>
    <%- include('partials/conteiners'); %>

        

    
    

</body>
</html>